/* Reset default margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-decoration: underline;
}

header h1 {
    font-size: 24px;
    margin-right: auto;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Hero Section */
.hero {
    background-image: url('rumahsakit.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    text-align: center;
    color: black;
}

.hero .hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .cta-button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.hero .cta-button:hover {
    background-color: #e68900;
}

/* About Section */
.about {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Services Section */
.services {
    padding: 40px 20px;
}

.services h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: auto;
    width: auto;
    margin: auto;
    text-align: center;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 16px;
    color: #666;
}

/* Contact Section */
.contact {
    background-color: #4CAF50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.contact ul {
    list-style-type: none;
    margin-top: 20px;
}

.contact ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
}
